In [24]:
import pandas as pd
from pathlib import Path
from functools import cache
from bioinfokit import analys, visuz

In [25]:
def read_individual(file_path: Path) -> pd.DataFrame:
    #df = pd.read_csv(file_path, index_col=1)
    df = pd.read_csv(file_path, index_col=1).T.iloc[3:]
    names: list[str] = list(df.index)
    mal_formed_names: list[str] = [
        name for name in names if len(name.split("_")) != 2
    ]
    if mal_formed_names:
        raise ValueError(f"all names should have 1 _, but {mal_formed_names}")
    df["comparison"] = [name.split("_")[0] for name in names]
    print(1, file_path, df.head(2), df.dtypes, sep="\n")
    return df

In [26]:
p=Path("./data").absolute()
df = read_individual(p / "CSexp2_BETi_CPM_after_filtering.csv")
df.head(9)

1
/Users/liam/code/omics_dashboard/data/CSexp2_BETi_CPM_after_filtering.csv
gene_id      ENSG00000000003 ENSG00000000005 ENSG00000000419 ENSG00000000457  \
CTRL.DMSO_S1       34.360965        0.846768        21.25834        15.50923
CTRL.DMSO_S2       34.771363        1.146715       20.603882       16.756838

gene_id      ENSG00000000460 ENSG00000000938 ENSG00000000971 ENSG00000001036  \
CTRL.DMSO_S1        8.066582        0.579368       52.860178       28.032487
CTRL.DMSO_S2        6.288438        0.295926       46.132721       29.444686

gene_id      ENSG00000001084 ENSG00000001167  ... ENSG00000289688  \
CTRL.DMSO_S1       24.511713       40.443881  ...        9.492718
CTRL.DMSO_S2       23.785092       44.145574  ...         8.21196

gene_id      ENSG00000289690 ENSG00000289692 ENSG00000289694 ENSG00000289697  \
CTRL.DMSO_S1             0.0        0.526333       55.586772        0.976012
CTRL.DMSO_S2             0.0             0.0       87.447388        1.639433

gene_id      ENSG00000289698 ENSG00000289700 ENSG00000289701 ENSG00000289716  \
CTRL.DMSO_S1        0.192528        1.963165        1.853977        0.097601
CTRL.DMSO_S2        0.083599        3.377631        0.975818             0.0

gene_id      comparison
CTRL.DMSO_S1  CTRL.DMSO
CTRL.DMSO_S2  CTRL.DMSO

[2 rows x 20402 columns]
gene_id
ENSG00000000003    object
ENSG00000000005    object
ENSG00000000419    object
ENSG00000000457    object
ENSG00000000460    object
                    ...
ENSG00000289698    object
ENSG00000289700    object
ENSG00000289701    object
ENSG00000289716    object
comparison         object
Length: 20402, dtype: object

gene_id,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000289688,ENSG00000289690,ENSG00000289692,ENSG00000289694,ENSG00000289697,ENSG00000289698,ENSG00000289700,ENSG00000289701,ENSG00000289716,comparison
CTRL.DMSO_S1,34.360965,0.846768,21.25834,15.50923,8.066582,0.579368,52.860178,28.032487,24.511713,40.443881,...,9.492718,0.0,0.526333,55.586772,0.976012,0.192528,1.963165,1.853977,0.097601,CTRL.DMSO
CTRL.DMSO_S2,34.771363,1.146715,20.603882,16.756838,6.288438,0.295926,46.132721,29.444686,23.785092,44.145574,...,8.21196,0.0,0.0,87.447388,1.639433,0.083599,3.377631,0.975818,0.0,CTRL.DMSO
CTRL.DMSO_S3,38.717056,1.560459,20.403741,14.368003,7.537313,0.264984,59.815644,30.002038,23.436332,45.322215,...,5.005247,0.0,0.0,82.257109,0.691018,0.177539,2.286809,1.06759,0.295898,CTRL.DMSO
CTRL.DMSO_S4,35.033721,0.615827,20.869697,14.643001,6.910949,0.0,65.922926,27.643796,21.896076,47.121723,...,5.268743,0.0,0.0,64.258824,0.586404,0.294913,0.932636,1.911801,0.354443,CTRL.DMSO
CTRL.DMSO_S5,40.956592,1.73481,22.326245,14.821308,7.76893,0.754265,52.715207,29.680329,25.154739,45.608898,...,7.391797,0.0,0.030925,56.165215,2.368769,0.077689,2.464561,1.889434,0.40504,CTRL.DMSO
CTRL.DMSO_S6,40.675899,1.809863,21.380921,16.411468,7.1781,0.49081,91.605131,33.405773,19.724437,47.171466,...,5.76702,0.0,0.0,92.18122,1.908025,0.102457,2.407731,2.357423,0.428539,CTRL.DMSO
CS.DMSO_S12,20.749471,1.78028,23.389196,31.738096,6.691397,0.245556,344.344831,30.694483,26.028922,27.625035,...,6.445841,0.0,1.913494,74.280035,9.328667,0.613276,4.387469,3.253615,0.0,CS.DMSO
CS.DMSO_S13,27.884358,1.420037,26.980698,33.048128,7.745655,0.129094,517.204487,35.371824,25.883397,27.287297,...,3.485545,0.0,0.032274,64.503877,10.178436,0.216233,1.600769,4.001922,0.556396,CS.DMSO
CS.DMSO_S15,26.054495,3.445917,25.045934,34.417148,6.009343,0.336187,302.923009,27.399243,26.264612,27.263088,...,6.849811,0.393339,0.311393,35.735001,7.671788,0.614382,0.638335,2.149916,0.262226,CS.DMSO

In [29]:
#@cache (or to polars and back (need new pandas 2.0))
df_groups = df.groupby('comparison').agg('mean')
df_groups.head(2)

gene_id,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000289685,ENSG00000289688,ENSG00000289690,ENSG00000289692,ENSG00000289694,ENSG00000289697,ENSG00000289698,ENSG00000289700,ENSG00000289701,ENSG00000289716
comparison,,,,,,,,,,,,,,,,,,,,,
Apabetalone,27.602860,0.530648,30.887964,35.564507,4.738058,0.080871,263.166017,18.213335,43.61079,55.145750,...,47.410209,1.925852,0.000000,0.788260,44.330227,5.642499,0.706350,2.836510,1.769475,0.229889
CS.DMSO,27.533999,1.964886,25.279817,33.026085,7.045245,0.218383,422.141894,32.053628,26.92756,28.709755,...,51.901985,4.153620,0.187013,0.540127,68.898177,11.668498,0.603357,1.942158,3.144407,0.202014

In [1]:
from collections import Counter

s = ["sheep", "sheep", "tiger", "sheep", "hippo", "tiger"]
u = [ f"{a}{c[a]}" for c in [Counter()] for a in s if [c.update([a])] ]

print(u)

['sheep1', 'sheep2', 'tiger1', 'sheep3', 'hippo1', 'tiger2']

In [2]:
Counter(s)

Counter({'sheep': 3, 'tiger': 2, 'hippo': 1})

In [3]:
from collections import Counter

s = ["sheep", "sheep", "tiger", "sheep", "hippo", "tiger"]
u = [ f"{a}{c[a]}" for c in [Counter()] for a in s if c[a] > 1 or [c.update([a])]]

print(u)

['sheep1', 'sheep2', 'tiger1', 'sheep2', 'hippo1', 'tiger2']

In [4]:
from collections import Counter

s = ["sheep", "sheep", "tiger", "sheep", "hippo", "tiger"]
u = [ f"{a}{c[a]}" for c in [Counter()] for a in s if c[a] > 1 or [c.update([a])]]

print(u)

['sheep1', 'sheep2', 'tiger1', 'sheep2', 'hippo1', 'tiger2']

In [5]:
from collections import Counter

s = ["sheep", "sheep", "tiger", "sheep", "hippo", "tiger"]
u = [ f"{a}{c[a]-1}" for c in [Counter(s)] for a in s if c[a] > 1 ]

print(u)

['sheep2', 'sheep2', 'tiger1', 'sheep2', 'tiger1']

In [6]:
from collections import Counter

s = ["sheep", "sheep", "tiger", "sheep", "hippo", "tiger"]
c = Counter(s)
u = [ f"{a}{c[a]-1}" for a in s if c[a] > 1 ] + [a for a in s if c[a] == 1]

print(u)

['sheep2', 'sheep2', 'tiger1', 'sheep2', 'tiger1', 'hippo']

In [7]:
from collections import Counter

s = ["sheep", "sheep", "tiger", "sheep", "hippo", "tiger"]
c = Counter(s)
u = []
for i, a in enumerate(s):
    if c[a] > 1:
        u.append(f"{a}{c[a]-s[:i].count(a)}")
    else:
        u.append(a)

print(u)

['sheep3', 'sheep2', 'tiger2', 'sheep1', 'hippo', 'tiger1']

In [4]:
from functools import partial

def func(a, b, c):
    print(a, b, c)

d = partial(func, 'aa')
d('b', 'ca')

aa b ca

In [45]:
import pandas as pd

df = pd. read_excel('/Users/liam/code/data/func/Experiment_4.xlsx')
df.Timepoint = df.Timepoint.astype(str)
#df = df.query('Arrhythmia == "N"')
df['Well Number'] = df['Well Number'].apply(lambda x: x.replace('Pos0', 'Pos') if 'Pos0' in x else x) 
df['key'] = df.Timepoint + ':' + df['Well Number']
del df['Plate']
# del df['Normalisation 1']
# del df['Normalisation 2']
df = df.set_index('key')
df.head(3)

,Experiment,Drug,Condition,Normalisation 1,Normalisation 2,Timepoint,Dose,Well Number,Force (uN),Rate (bps),Ta50 (s),Tr50 (s),Tpeak 85 (s),Ta 15-30 (s),Ta 30-85 (s),Tr 85-50 (s),Tr 50-15 (s),RRscat (s),Arrhythmia
key,,,,,,,,,,,,,,,,,,,
Baseline:04_,4,Isoprenaline,RPMI WM 0.6 mM Ca,Baseline,DMSO 1,Baseline,0.0,04_,117.783607,0.498339,0.216,0.12,0.18,0.048,0.180000,0.048,0.060000,0.040,N
Baseline:06_,4,Isoprenaline,RPMI WM 0.6 mM Ca,Baseline,DMSO 1,Baseline,0.0,06_,78.019336,0.550964,0.170,0.12,0.15,0.050,0.146667,0.050,0.083333,0.015,N
Baseline:07_,4,Isoprenaline,RPMI WM 0.6 mM Ca,Baseline,DMSO 1,Baseline,0.0,07_,118.776815,0.483871,0.236,0.12,0.18,0.060,0.188000,0.060,0.056000,0.060,N

In [46]:
dose = df[['Drug', 'Dose', 'Timepoint', 'Normalisation 1', 'Normalisation 2']]
dose = dose.set_index(['Drug', 'Timepoint'])
dose

                        Dose Normalisation 1 Normalisation 2
Drug         Timepoint
Isoprenaline Baseline    0.0        Baseline          DMSO 1
             Baseline    0.0        Baseline          DMSO 1
             Baseline    0.0        Baseline          DMSO 1
DMSO 1       Baseline    0.0        Baseline          DMSO 1
             Baseline    0.0        Baseline          DMSO 1
...                      ...             ...             ...
Terfenadine  5           0.1        Baseline          DMSO 2
             5           0.1        Baseline          DMSO 2
Cisapride    5           0.1        Baseline          DMSO 2
             5           0.1        Baseline          DMSO 2
             5           0.1        Baseline          DMSO 2

[156 rows x 3 columns]

In [50]:
dose['Normalisation 1'].to_dict()

{('Isoprenaline', 'Baseline'): 'Baseline',
 ('DMSO 1', 'Baseline'): 'Baseline',
 ('Milrinone', 'Baseline'): 'Baseline',
 ('Dobutamine', 'Baseline'): 'Baseline',
 ('Ouabain', 'Baseline'): 'Baseline',
 ('Levosimendan', 'Baseline'): 'Baseline',
 ('DMSO 2', 'Baseline'): 'Baseline',
 ('Terfenadine', 'Baseline'): 'Baseline',
 ('Cisapride', 'Baseline'): 'Baseline',
 ('Isoprenaline', '1'): 'Baseline',
 ('DMSO 1', '1'): 'Baseline',
 ('Milrinone', '1'): 'Baseline',
 ('Dobutamine', '1'): 'Baseline',
 ('Ouabain', '1'): 'Baseline',
 ('Levosimendan', '1'): 'Baseline',
 ('DMSO 2', '1'): 'Baseline',
 ('Terfenadine', '1'): 'Baseline',
 ('Cisapride', '1'): 'Baseline',
 ('Isoprenaline', '2'): 'Baseline',
 ('DMSO 1', '2'): 'Baseline',
 ('Milrinone', '2'): 'Baseline',
 ('Dobutamine', '2'): 'Baseline',
 ('Ouabain', '2'): 'Baseline',
 ('Levosimendan', '2'): 'Baseline',
 ('DMSO 2', '2'): 'Baseline',
 ('Terfenadine', '2'): 'Baseline',
 ('Cisapride', '2'): 'Baseline',
 ('Isoprenaline', '3'): 'Baseline',
 ('DMSO 1', '3'): 'Baseline',
 ('Milrinone', '3'): 'Baseline',
 ('Dobutamine', '3'): 'Baseline',
 ('Ouabain', '3'): 'Baseline',
 ('Levosimendan', '3'): 'Baseline',
 ('DMSO 2', '3'): 'Baseline',
 ('Terfenadine', '3'): 'Baseline',
 ('Cisapride', '3'): 'Baseline',
 ('Isoprenaline', '4'): 'Baseline',
 ('DMSO 1', '4'): 'Baseline',
 ('Milrinone', '4'): 'Baseline',
 ('Dobutamine', '4'): 'Baseline',
 ('Ouabain', '4'): 'Baseline',
 ('Levosimendan', '4'): 'Baseline',
 ('DMSO 2', '4'): 'Baseline',
 ('Terfenadine', '4'): 'Baseline',
 ('Cisapride', '4'): 'Baseline',
 ('Isoprenaline', '5'): 'Baseline',
 ('DMSO 1', '5'): 'Baseline',
 ('Milrinone', '5'): 'Baseline',
 ('Dobutamine', '5'): 'Baseline',
 ('Ouabain', '5'): 'Baseline',
 ('Levosimendan', '5'): 'Baseline',
 ('DMSO 2', '5'): 'Baseline',
 ('Terfenadine', '5'): 'Baseline',
 ('Cisapride', '5'): 'Baseline'}

In [28]:
data_cols = ['Force (uN)', 'Rate (bps)', 'Ta50 (s)', 'Tr50 (s)', 'Tpeak 85 (s)',
            'Ta 15-30 (s)', 'Ta 30-85 (s)', 'Tr 85-50 (s)', 'Tr 50-15 (s)']

In [44]:



def normalize_group(group, data_cols):
    drug_data_dict = group.to_dict()
    norm = {}
    for data in data_cols:
        norm[data] = {}
        for k, v in drug_data_dict[data].items():
            _, pos = k.split(':')
            baseline_key = 'Baseline:' + pos
            norm[data][k] = v / drug_data_dict[data][baseline_key]
    return pd.DataFrame(norm)

def replace_time(df):

    df['Timepoint'] = df.index
    df['Timepoint'] = df['Timepoint'].apply(lambda x: x.split(':')[0])

    return df

def normalize_group2(group, DMSO_, data_cols):

    group = replace_time(group)
    DMSO_ = replace_time(DMSO_)
    drug_data_dict = group.to_dict()
    norm = {}
    for data in data_cols:
        norm[data] = {}
        for k, v in drug_data_dict[data].items():
            time, _ = k.split(':')
            mean = DMSO_.query('Timepoint == @time')[data].mean()
            norm[data][k] = v / mean
    return pd.DataFrame(norm)

normalized_df = df.groupby('Drug').apply(normalize_group, data_cols)
normalized_df = normalized_df.reset_index(level=['Drug'])
DMSO = normalized_df.query('Drug == "DMSO 1"')
normalized_df2 = normalized_df.groupby('Drug').apply(normalize_group2, DMSO, data_cols)
normalized_df2.head(2)

                        Force (uN)  Rate (bps)  Ta50 (s)  Tr50 (s)
Drug
Cisapride Baseline:41_         1.0         1.0       1.0       1.0  \
          Baseline:42_         1.0         1.0       1.0       1.0

                        Tpeak 85 (s)  Ta 15-30 (s)  Ta 30-85 (s)
Drug
Cisapride Baseline:41_           1.0           1.0           1.0  \
          Baseline:42_           1.0           1.0           1.0

                        Tr 85-50 (s)  Tr 50-15 (s)
Drug
Cisapride Baseline:41_           1.0           1.0
          Baseline:42_           1.0           1.0

In [34]:
normalized_df2['index_copy'] = normalized_df2.index
normalized_df2['index_copy'] = normalized_df2['index_copy'].apply(lambda x: x[1])
normalized_df2 = normalized_df2.fillna(0.0)
normalized_df2

                          Force (uN)  Rate (bps)  Ta50 (s)  Tr50 (s)
Drug
Cisapride   Baseline:41_    1.000000    1.000000  1.000000  1.000000  \
            Baseline:42_    1.000000    1.000000  1.000000  1.000000
            Baseline:43_    1.000000    1.000000  1.000000  1.000000
            1:41_           0.997207    0.971423  0.852214  0.968474
            1:42_           1.038766    0.967720  0.868124  0.982347
...                              ...         ...       ...       ...
Terfenadine 4:38_           1.137351    0.826702  0.770470  0.945369
            4:39_           0.675766    1.304902  5.477470  0.747984
            5:37_           1.372753    0.882835  0.769879  0.967742
            5:38_           1.426945    0.848820  0.760134  1.018676
            5:39_           1.421453    0.760374  0.765448  0.997453

                          Tpeak 85 (s)  Ta 15-30 (s)  Ta 30-85 (s)
Drug
Cisapride   Baseline:41_      1.000000      1.000000      1.000000  \
            Baseline:42_      1.000000      1.000000      1.000000
            Baseline:43_      1.000000      1.000000      1.000000
            1:41_             0.831068      1.251926      1.005867
            1:42_             0.839816      1.195021      0.962552
...                                ...           ...           ...
Terfenadine 4:38_             0.823231      1.213607      0.860137
            4:39_             0.935438     20.920275      9.168373
            5:37_             0.810403      1.138749      0.890901
            5:38_             0.820661      1.096573      0.831507
            5:39_             0.846483      1.138749      0.854538

                          Tr 85-50 (s)  Tr 50-15 (s)    index_copy
Drug
Cisapride   Baseline:41_      1.000000      1.000000  Baseline:41_
            Baseline:42_      1.000000      1.000000  Baseline:42_
            Baseline:43_      1.000000      1.000000  Baseline:43_
            1:41_             0.992502      1.032105         1:41_
            1:42_             1.086893      0.932915         1:42_
...                                ...           ...           ...
Terfenadine 4:38_             0.907551      0.854701         4:38_
            4:39_             0.795580      1.514793         4:39_
            5:37_             0.841530      0.965517         5:37_
            5:38_             0.938434      0.875421         5:38_
            5:39_             0.918033      0.897436         5:39_

[156 rows x 10 columns]

In [35]:
normalized_df2[['Timepoint', 'pos']] = normalized_df2['index_copy'].str.split(':', expand=True)
normalized_df2

                          Force (uN)  Rate (bps)  Ta50 (s)  Tr50 (s)
Drug
Cisapride   Baseline:41_    1.000000    1.000000  1.000000  1.000000  \
            Baseline:42_    1.000000    1.000000  1.000000  1.000000
            Baseline:43_    1.000000    1.000000  1.000000  1.000000
            1:41_           0.997207    0.971423  0.852214  0.968474
            1:42_           1.038766    0.967720  0.868124  0.982347
...                              ...         ...       ...       ...
Terfenadine 4:38_           1.137351    0.826702  0.770470  0.945369
            4:39_           0.675766    1.304902  5.477470  0.747984
            5:37_           1.372753    0.882835  0.769879  0.967742
            5:38_           1.426945    0.848820  0.760134  1.018676
            5:39_           1.421453    0.760374  0.765448  0.997453

                          Tpeak 85 (s)  Ta 15-30 (s)  Ta 30-85 (s)
Drug
Cisapride   Baseline:41_      1.000000      1.000000      1.000000  \
            Baseline:42_      1.000000      1.000000      1.000000
            Baseline:43_      1.000000      1.000000      1.000000
            1:41_             0.831068      1.251926      1.005867
            1:42_             0.839816      1.195021      0.962552
...                                ...           ...           ...
Terfenadine 4:38_             0.823231      1.213607      0.860137
            4:39_             0.935438     20.920275      9.168373
            5:37_             0.810403      1.138749      0.890901
            5:38_             0.820661      1.096573      0.831507
            5:39_             0.846483      1.138749      0.854538

                          Tr 85-50 (s)  Tr 50-15 (s)    index_copy Timepoint
Drug
Cisapride   Baseline:41_      1.000000      1.000000  Baseline:41_  Baseline  \
            Baseline:42_      1.000000      1.000000  Baseline:42_  Baseline
            Baseline:43_      1.000000      1.000000  Baseline:43_  Baseline
            1:41_             0.992502      1.032105         1:41_         1
            1:42_             1.086893      0.932915         1:42_         1
...                                ...           ...           ...       ...
Terfenadine 4:38_             0.907551      0.854701         4:38_         4
            4:39_             0.795580      1.514793         4:39_         4
            5:37_             0.841530      0.965517         5:37_         5
            5:38_             0.938434      0.875421         5:38_         5
            5:39_             0.918033      0.897436         5:39_         5

                          pos
Drug
Cisapride   Baseline:41_  41_
            Baseline:42_  42_
            Baseline:43_  43_
            1:41_         41_
            1:42_         42_
...                       ...
Terfenadine 4:38_         38_
            4:39_         39_
            5:37_         37_
            5:38_         38_
            5:39_         39_

[156 rows x 12 columns]

In [36]:
for gg, hh in normalized_df2.index[0:4]:
    print(gg)

Cisapride
Cisapride
Cisapride
Cisapride

In [37]:
cols = ['Force (uN)', 'Timepoint', 'pos']
force = normalized_df2.loc['Flecainide'][cols]
force = force.reset_index()[cols]
force.head(2)

KeyError: 'Flecainide'

In [ ]:
pivoted = force.pivot(index="Timepoint", columns="pos", values="Force (uN)").T
#pivoted = pivoted[map(str, sorted(map(float, pivoted.columns)))]
pivoted = pivoted[['Baseline', '1', '2', '3', '4', '5']]
pivoted.columns = [0, 1, 2, 3, 4, 5]
pivoted

         0         1         2         3         4    5
pos
Pos49  1.0  1.007981  0.924156  0.775640  0.336898  0.0
Pos50  1.0  0.923075  0.899101  0.737749  0.000000  0.0
Pos51  1.0  1.034726  0.923600  0.967941  0.000000  0.0
Pos52  1.0  0.934911  0.867220  0.444713  0.000000  0.0
Pos53  1.0  0.931404  0.866976  0.547547  0.223976  0.0
Pos54  1.0  0.892453  0.885872  0.680743  0.000000  0.0

In [38]:
pivoted.describe()

NameError: name 'pivoted' is not defined

In [39]:
datas = pivoted.describe().to_dict()
datas

NameError: name 'pivoted' is not defined

In [40]:
xs = [flec['Dose'][str(time_point)] for time_point in list(datas.keys())]
ys = [v.get('50%') for v in datas.values()]
stds = [v.get('std') for v in datas.values()]

NameError: name 'datas' is not defined

In [41]:
flec

NameError: name 'flec' is not defined

In [42]:
import plotly.graph_objects as go

fig = go.Figure(data=go.Scatter(
        x=xs,
        y=ys,
        error_y=dict(
            type='data', # value of error bar given in data coordinates
            array=stds,
            visible=True)
    ))
fig.update_xaxes(type="log")
fig.show()

NameError: name 'xs' is not defined

In [43]:
import plotly.express as px

fig = px.scatter(df, x=xs, y=ys,
                 error_y=stds, error_y_minus=stds, log_x=True)
fig.show()

NameError: name 'xs' is not defined